<div class="bg-violet-300 text-black flex justify-center w-full pt-20 pb-20" style="height: auto">
    <div class="w-3/4 max-w-screen-2xl">
        <div class="flex justify-between">
            <div class="flex flex-col">
                <p class="text-xl font-bold">Informations</p>
                <a>Sobre nós</a>
                <a>Contate nós</a>
                <a>Produtos</a>
            </div>
            <div class="flex flex-col">
                <p class="text-xl font-bold">Categorias</p>
                <a>Sobre nós</a>
                <a>Contate nós</a>
                <a>Produtos</a>
            </div>
            <div class="flex flex-col">
                <p class="text-xl font-bold">Empresa</p>
                <a>Sobre nós</a>
                <a>Contate nós</a>
                <a>Produtos</a>
            </div>
        </div>
        <div class="flex items-center justify-between w-full mt-4">
            <div class="flex-1">

            </div>
            <div class="flex-1 mt-4 text-center">
                <div class="flex justify-center space-x-4">
                    <p class="text-2xl font-bold">A Escolhida Makeup</p>
                </div>
            </div>
            <div class="flex-1 flex justify-end w-auto">
                <p>instagrem</p>
                <p>facebook</p>
            </div>
        </div>
        
    </div>
</div>
