<div class="bg-violet-300 text-white flex items-center justify-center w-full p-4">
    <div class="flex items-center w-3/4 max-w-screen-2xl">
        <div class="flex-1">
            <p class="text-lg font-bold">A Escolhida Makeup</p>
        </div>
        <div class="flex-1">
            <ul class="flex justify-center space-x-4">
                <li class="hover:underline cursor-pointer">Home</li>
                <li class="hover:underline cursor-pointer">Produtos</li>
                <li class="hover:underline cursor-pointer">Skin Care</li>
                <li class="hover:underline cursor-pointer">Sobre Nós</li>
            </ul>
        </div>
        <div class="flex-1 flex justify-end">
            <button class="bg-violet-400 hover:bg-violet-300 hover:text-white hover:border-solid hover:border-2 hover:border-white border-solid border-2 border-transparent font-bold py-2 px-4 rounded-full mr-2 hover:border-white">Cadastrar-se</button>

            <button class="bg-violet-400 hover:bg-violet-300 hover:text-white hover:border-solid hover:border-2 hover:border-white border-solid border-2 border-transparent font-bold py-2 px-4 rounded-full mr-2 hover:border-white" routerLink="/login">Entrar</button>
        </div>
    </div>
</div>


