<div class="bg-violet-200 text-black flex items-center justify-center w-full p-4">
    <div class="flex items-center w-3/4 max-w-screen-2xl">
        <div class="flex-1">
            <p class="text-lg font-bold">A Escolhida Makeup</p>
        </div>
        <div class="flex-1">
            <ul class="flex justify-center space-x-4">
                <li class="hover:underline cursor-pointer">Home</li>
                <li class="hover:underline cursor-pointer">Produtos</li>
                <li class="hover:underline cursor-pointer">Skin Care</li>
                <li class="hover:underline cursor-pointer">Sobre Nós</li>
            </ul>
        </div>
        <div class="flex-1 flex justify-end">
            <button class="bg-pink-300 hover:bg-pink-400 hover:text-white text-black font-bold py-2 px-4 rounded mr-2">Cadastrar-se</button>
            <button class="bg-pink-300 hover:bg-pink-400 hover:text-white font-bold py-2 px-4 rounded" routerLink="/login">Entrar</button>
        </div>
    </div>
</div>


