<app-navbar></app-navbar>

<div class="text-black flex items-center justify-center w-full" style="height: 700px;">
    <div class="w-3/4 max-w-screen-2xl background-image">
        <div class="flex justify-between w-full h-full">
            <div class="flex flex-col justify-center">
                <p class="mb-10 text-2xl">Realce a sua beleza com nossos produtos!</p>
                <button class="bg-violet-400 hover:bg-violet-300 text-white font-bold py-2 px-4 rounded-full w-56">Conferir
                    Produtos</button>
            </div>
            <div class="flex items-center">
                <img src="../../assets/imagens/makeup-2824659.jpg" alt="Descrição da Imagem" class="h-80 w-80">
                <img src="../../assets/imagens/woman-6144774.jpg" alt="Descrição da Imagem" class="h-80 w-80 ml-4">
            </div>
        </div>
    </div>
</div>

<div class="text-black flex justify-center w-full p-4" style="height: auto">
    <div class="w-3/4 max-w-screen-2xl">
        <div class="flex flex-col items-center w-full mt-4">
            <p class="text-2xl mb-1 font-kasei-decol-800">Nossos Produtos</p>
            <p class="text-center color-text-products">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem repellendus ea fugiat maiores blanditiis suscipit, sint voluptatem praesentium doloremque veniam placeat aliquam dolores fuga consectetur possimus nulla, saepe modi? Obcaecati.</p>
        </div>
        <div class="flex mt-20">
            <div class="w-1/2">
                <img src="https://img.freepik.com/fotos-gratis/colecao-close-up-de-produtos-de-maquiagem-e-beleza_23-2148620012.jpg?size=626&ext=jpg&ga=GA1.1.672697106.1715472000&semt=sph" alt="Descrição da Imagem" class="rounded-lg h-80 w-80">
            </div>
            <div class="flex flex-col justify-center w-1/2 color-text-products"> 
                <p class="text-2xl text-center mb-2 font-kasei-decol-800">Batons</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium quibusdam ullam itaque atque provident! Atque voluptate nisi temporibus aperiam rerum, corporis nihil, distinctio nulla fuga est at doloremque magnam esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias impedit vitae suscipit sit pariatur aliquid earum deserunt. Sunt saepe aliquid a facilis iure ipsum amet optio minima tempora. Fuga, quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore ratione nostrum! Blanditiis mollitia eius animi possimus odio aliquam corrupti reprehenderit temporibus a accusamus, reiciendis omnis, illo minima aliquid in.</p>
            </div>
        </div>
        <div class="flex mt-20">
            <div class="flex flex-col justify-center w-1/2 color-text-products"> 
                <p class="text-2xl text-center mb-2 font-kasei-decol-800">Rimels</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium quibusdam ullam itaque atque provident! Atque voluptate nisi temporibus aperiam rerum, corporis nihil, distinctio nulla fuga est at doloremque magnam esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias impedit vitae suscipit sit pariatur aliquid earum deserunt. Sunt saepe aliquid a facilis iure ipsum amet optio minima tempora. Fuga, quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore ratione nostrum! Blanditiis mollitia eius animi possimus odio aliquam corrupti reprehenderit temporibus a accusamus, reiciendis omnis, illo minima aliquid in.</p>
            </div>
            <div class="flex justify-end w-1/2 color-text-products">
                <img src="https://img.freepik.com/fotos-gratis/colecao-close-up-de-produtos-de-maquiagem-e-beleza_23-2148620012.jpg?size=626&ext=jpg&ga=GA1.1.672697106.1715472000&semt=sph" alt="Descrição da Imagem" class="rounded-lg h-80 w-80">
            </div>
        </div>
        <div class="flex mt-20 mb-4">
            <div class="w-1/2">
                <img src="https://img.freepik.com/fotos-gratis/colecao-close-up-de-produtos-de-maquiagem-e-beleza_23-2148620012.jpg?size=626&ext=jpg&ga=GA1.1.672697106.1715472000&semt=sph" alt="Descrição da Imagem" class="rounded-lg h-80 w-80">
            </div>
            <div class="flex flex-col justify-center w-1/2 color-text-products"> 
                <p class="text-2xl text-center mb-2 font-kasei-decol-800">Bases</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium quibusdam ullam itaque atque provident! Atque voluptate nisi temporibus aperiam rerum, corporis nihil, distinctio nulla fuga est at doloremque magnam esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias impedit vitae suscipit sit pariatur aliquid earum deserunt. Sunt saepe aliquid a facilis iure ipsum amet optio minima tempora. Fuga, quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore ratione nostrum! Blanditiis mollitia eius animi possimus odio aliquam corrupti reprehenderit temporibus a accusamus, reiciendis omnis, illo minima aliquid in.</p>
            </div>
        </div>
    </div>
</div>




<app-highlights></app-highlights>

<app-footer></app-footer>